.menu-btn {
  position: fixed;
  z-index: 3;
  top: 5%;
  right: 2.5%;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(135deg) translate(-6px, 6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden; }
  .menu-branding, .menu-potrait {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-potrait {
    background: #b4e1fa;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-potrait.show {
      transform: translate3d(0, 0, 0); }
    .menu-potrait .image {
      width: 250px;
      height: 250px;
      background: url(../img/lissette.png);
      border-radius: 50%;
      border: solid 3px #084E8A; }
  .menu-branding {
    background: #202126;
    transform: translate3d(0, -100%, 0);
    width: 50%;
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(-600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: brown; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 600;
    color: set-text-color(#b4e1fa);
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #b4e1fa; }

li.nav-item {
  display: inline-block;
  text-align: center; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

* {
  box-sizing: border-box; }

body {
  background-color: black;
  color: #ebf5fa;
  height: 100%;
  margin: 0;
  font-family: "Roboto Slab", serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg-img.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    margin-left: 2.1px;
    background: rgba(6, 6, 6, 0.5); }

a {
  color: #ebf5fa;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 1005; }

.secondary-text {
  color: #b4e1fa; }

main {
  padding: 4rem;
  min-height: calc(100vh-60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #b4e1fa;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "exp1 exp2 exp3";
  grid-template-columns: repeat(3, 1fr); }

.bio-img {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #b4e1fa 3px solid; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.exp-1 {
  grid-area: exp1; }

.exp-2 {
  grid-area: exp2; }

.exp-3 {
  grid-area: exp3; }

.exp {
  background: #b4e1fa;
  padding: 0.5rem;
  margin: 30px;
  border-bottom: #ebf5fa 5px solid; }

.work {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); }
  .work img {
    width: 100%;
    border: 3px #ebf5fa solid; }
    .work img:hover {
      opacity: 0.5;
      border-color: #b4e1fa;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #ebf5fa solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #b4e1fa; }
      .boxes div:hover span {
        color: #ebf5fa; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #b4e1fa; }

.btn-dark {
  background: #001429;
  color: #ebf5fa; }

.btn-light {
  background: #084e8a;
  color: #ebf5fa; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #b4e1fa;
  height: 60px; }

#main-footer h3 {
  color: #084e8a; }

.lineup {
  position: relative;
  display: inline;
  line-height: 14px; }

.fa-eye {
  margin-right: 10px; }

.btn-txt {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 1px; }

.btn-margin {
  margin-left: 10px; }

.work-img {
  height: 200px;
  width: 200px;
  color: #ebf5fa; }

.img-text {
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

img {
  z-index: 99;
  opacity: 1; }

.videos {
  margin-right: 50px; }

iframe {
  width: 100%;
  height: auto; }

.mixing {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); }

.exp p,
h3 {
  color: #001429; }

.text-secondary {
  color: #ebf5fa; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  div.menu-branding,
  div.menu-potrait {
    float: none;
    width: 100%;
    min-height: 0; }
    div.menu-branding.show,
    div.menu-potrait.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-potrait {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-potrait .image {
      background: url("../img/lissette.png");
      width: 262px;
      height: 265px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "exp1" "exp2" "exp3";
    grid-template-areas: 1fr; } }

main#home h1 {
  margin-top: 10vh; }
